Descontados
Descontar
descontar
descontados
Lista.xlsx
src/db
.env
.venv
build
dist
app.spec
Lista.xlsx
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.bak
*.tmp
*.swp
.DS_Store
Thumbs.db
.idea/
.vscode/
__pycache__/
*.egg-info/
*.egg
*.log